.destinations {
    h1 {
        font-size: 2rem;
        font-weight: 800;
        margin: 3rem;
        text-align: center;
        color: #0d60c8;
    }

    .destinations_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    
        &-item {
            margin: 1rem;
    
            p {
                position: absolute;
                color: #fff;
                padding-top: 125px;
                font-size: 1.5rem;
                font-weight: 700;
                font-style: italic;
            }
    
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

