.footer {
    display: flex;
    flex-direction: column;
    // color: #00585b;
    color: #0d60c8;

    &_icons {
        display: flex;
        justify-content: center;
        background: linear-gradient(to left top,#2980b9, #019da9, #6dd5fa, #ffffff);
        height: 15vh;
        color: #fff;
        font-size: 3rem;
        padding: 1rem;
        gap: 2rem;

    }

    &_links {
        display: flex;
        justify-content: space-evenly;
        padding: 3rem;

        h2 {
            border-bottom: 0.5rem solid #019da9;
        }

        li {
            padding: 1rem;
            cursor: pointer;
        }
    }
    
}