.whybook {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #0d60c8;

    h1 {
        font-size: 2rem;
        font-weight: 800;
        margin: 2rem;
    }

    &_list {
        display: flex;
        justify-content: space-around;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem;
            justify-content: space-between;

            svg {
                font-size: 3rem;
            }

            h3 {
                font-size: 1.6rem;
                font-weight: 500;
                padding: 1rem;
            }
        }
    }
}