.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background: linear-gradient(to left top,#2980b9, #019da9, #6dd5fa, #ffffff);
    height: 30vh;
    // color: #00585b;
    color:#fff;

    h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    &_group {

        input {
            flex-grow: 0.5;
            height: 2rem;
            font-size: 1.6rem;
            border: none;
            outline: none;
            text-align: center;
        }

        button {
            border: 0.2rem solid #6dd5fa;
            padding: 1rem;
            color: #6dd5fa;
            border-radius: 1rem;
            background-color: transparent;
            margin: 0 1rem;
            cursor: pointer;
            font-size: 1.5rem;
        }
    }
}